# Imports

In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from outliertree import OutlierTree

# Load the data

In [40]:
data = pd.read_csv('./data/alzheimers_disease_data.csv')
data.columns = [col.lower() for col in data.columns]


pd.set_option('display.max_columns', None)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2149 entries, 0 to 2148
Data columns (total 34 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   patientid                  2149 non-null   int64
 1   age                        2149 non-null   int64
 2   gender                     2149 non-null   int64
 3   ethnicity                  2149 non-null   int64
 4   educationlevel             2149 non-null   int64
 5   bmi                        2149 non-null   float64
 6   smoking                    2149 non-null   int64
 7   alcoholconsumption         2149 non-null   float64
 8   physicalactivity           2149 non-null   float64
 9   dietquality                2149 non-null   float64
 10  sleepquality               2149 non-null   float64
 11  familyhistoryalzheimers    2149 non-null   int64
 12  cardiovasculardisease      2149 non-null   int64
 13  diabetes                   2149 non-null   int64
 14  depression                 2149 non-null   int64
 15  headinjury                 2149 non-null   int64
 16  hypertension               2149 non-null   int64
 17  systolicbp                 2149 non-null   int64
 18  diastolicbp                2149 non-null   int64
 19  cholesteroltotal           2149 non-null   float64
 20  cholesterolldl             2149 non-null   float64
 21  cholesterolhdl             2149 non-null   float64
 22  cholesteroltriglycerides   2149 non-null   float64
 23  mmse                       2149 non-null   float64
 24  functionalassessment       2149 non-null   float64
 25  memorycomplaints           2149 non-null   int64
 26  behavioralproblems         2149 non-null   int64
 27  adl                        2149 non-null   float64
 28  confusion                  2149 non-null   int64
 29  disorientation             2149 non-null   int64
 30  personalitychanges         2149 non-null   int64
 31  difficultycompletingtasks  2149 non-null   int64
 32  forgetfulness              2149 non-null   int64
 33  diagnosis                  2149 non-null   int64
dtypes: float64(12), int64(22)
memory usage: 571.0 KB

# Fix categorical values

In [41]:
bool_cols = ['gender', 'ethnicity', 'educationlevel', 'smoking', 'familyhistoryalzheimers', 'cardiovasculardisease', 'diabetes', 'depression', 'headinjury', 'hypertension', 'memorycomplaints', 'behavioralproblems', 'confusion', 'disorientation', 'personalitychanges', 'difficultycompletingtasks', 'forgetfulness', 'diagnosis']
for col in bool_cols:
    data[col] = data[col].astype('category')

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2149 entries, 0 to 2148
Data columns (total 34 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   patientid                  2149 non-null   int64
 1   age                        2149 non-null   int64
 2   gender                     2149 non-null   category
 3   ethnicity                  2149 non-null   category
 4   educationlevel             2149 non-null   category
 5   bmi                        2149 non-null   float64
 6   smoking                    2149 non-null   category
 7   alcoholconsumption         2149 non-null   float64
 8   physicalactivity           2149 non-null   float64
 9   dietquality                2149 non-null   float64
 10  sleepquality               2149 non-null   float64
 11  familyhistoryalzheimers    2149 non-null   category
 12  cardiovasculardisease      2149 non-null   category
 13  diabetes                   2149 non-null   category
 14  depression                 2149 non-null   category
 15  headinjury                 2149 non-null   category
 16  hypertension               2149 non-null   category
 17  systolicbp                 2149 non-null   int64
 18  diastolicbp                2149 non-null   int64
 19  cholesteroltotal           2149 non-null   float64
 20  cholesterolldl             2149 non-null   float64
 21  cholesterolhdl             2149 non-null   float64
 22  cholesteroltriglycerides   2149 non-null   float64
 23  mmse                       2149 non-null   float64
 24  functionalassessment       2149 non-null   float64
 25  memorycomplaints           2149 non-null   category
 26  behavioralproblems         2149 non-null   category
 27  adl                        2149 non-null   float64
 28  confusion                  2149 non-null   category
 29  disorientation             2149 non-null   category
 30  personalitychanges         2149 non-null   category
 31  difficultycompletingtasks  2149 non-null   category
 32  forgetfulness              2149 non-null   category
 33  diagnosis                  2149 non-null   category
dtypes: category(18), float64(12), int64(4)
memory usage: 308.9 KB

In [29]:
data.head()

,patientid,age,gender,ethnicity,educationlevel,bmi,smoking,alcoholconsumption,physicalactivity,dietquality,sleepquality,familyhistoryalzheimers,cardiovasculardisease,diabetes,depression,headinjury,hypertension,systolicbp,diastolicbp,cholesteroltotal,cholesterolldl,cholesterolhdl,cholesteroltriglycerides,mmse,functionalassessment,memorycomplaints,behavioralproblems,adl,confusion,disorientation,personalitychanges,difficultycompletingtasks,forgetfulness,diagnosis
0,4751,73,0,0,2,22.927749,0,13.297218,6.327112,1.347214,9.025679,0,0,1,1,0,0,142,72,242.366840,56.150897,33.682564,162.189143,21.463532,6.518877,0,0,1.725883,0,0,0,1,0,0
1,4752,89,0,0,0,26.827681,0,4.542524,7.619885,0.518767,7.151293,0,0,0,0,0,0,115,64,231.162595,193.407995,79.028477,294.630909,20.613267,7.118696,0,0,2.592424,0,0,0,0,1,0
2,4753,73,0,3,1,17.795882,0,19.555085,7.844988,1.826335,9.673574,1,0,0,0,0,0,99,116,284.181858,153.322762,69.772292,83.638324,7.356249,5.895077,0,0,7.119548,0,1,0,1,0,0
3,4754,74,1,0,1,33.800817,1,12.209266,8.428001,7.435604,8.392554,0,0,0,0,0,0,118,115,159.582240,65.366637,68.457491,277.577358,13.991127,8.965106,0,1,6.481226,0,0,0,0,0,0
4,4755,89,0,0,0,20.716974,0,18.454356,6.310461,0.795498,5.597238,0,0,0,0,0,0,94,117,237.602184,92.869700,56.874305,291.198780,13.517609,6.045039,0,0,0.014691,0,0,1,1,0,0

# Check outliers

In [ ]:
ot = OutlierTree()
out_train = ot.fit(data.select_dtypes(include=[np.number]))
print(out_train)

No outliers found in input data.

OutlierTree model
	Numeric variables: 16

Consists of 16 clusters, spread across 16 tree branches

In [ ]:
# Check for missing values
missing_values = data.isnull().sum()
print("Missing values in each column:")
print(missing_values[missing_values > 0])